﻿.search {
	background-image: url("../img/car.jpg");
	background-size: 100% 100%;
}

/* Dropdown Button */
.dropbtn {
	background-color: #f1f1f1;
	color: black;
	font-size: 12px;
	border: none;
	width: 75px;
	height: 60px;
	padding: 0px;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
	position: relative;
	display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
	display: none;
	position: absolute;
	background-color: white;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 2;
}

/* Links inside the dropdown */
.dropdown-content a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
	color: orange;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
	display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
	background-color: white;
}

.in-hover:hover, datalist option:hover {
	outline: none !important;
	border-color: orange;
}

.custom-datatag {
	margin: 10px;
	padding: 10px;
	border: 2px solid purple;
	width: 200px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.custom-datatag > ul {
	display: none;
}

.custom-datatag:hover > ul {
	display: block;
	background: #f9f9f9;
	border-top: 1px solid purple;
}

.custom-datatag:hover > ul > li {
	padding: 5px;
	border-bottom: 1px solid #4f4f4f;
	list-style-type: none;
}

.custom-datatag:hover > ul > li:hover {
	background: white;
}

.custom-datatag:hover > ul > li:hover > a {
	color: red;
}

#marke option {
	background-color: #82caff;
}

.cut-text {
	text-overflow: ellipsis;
	overflow: hidden;
	width: 100%;
	height: 1.2em;
	white-space: nowrap;
}

.card-body {
	padding: 15px 12px 20px 12px;
}

.card-title {
	margin: 0px 5px 7px 5px;
}