﻿@page
@model WebApplication1.Pages.RegisterModel
@{
    ViewData["Title"] = "Register";
}


<div class="container">
    <h3>Register</h3>
    <div>
        <div>
            <label>Username</label>
            <input class="registerUserName" type="text" />
        </div>
        <div>
            <label>Name</label>
            <input class="registerName" type="text" />
        </div>
        <div>
            <label>Password</label>
            <input class="registerPass" type="password" />
        </div>
        <div>
            <label>Repeat password</label>
            <input class="registerPass2" type="password" />
        </div>
        <button onclick="register()">Register</button>
    </div>

    <script src="~/js/register.js" asp-append-version="true" defer></script>
</div>