﻿@page
@model WebApplication1.Pages.UserModel
@{
    ViewData["Title"] = "User";
}

    <div class="container">
        <h3>Hello Username</h3>
        <div>
            <div>
                <button onclick="deleteCookie()">Logout</button>
            </div>
        </div>

        <script src="~/js/login.js" asp-append-version="true" defer></script>
        <script src="~/js/register.js" asp-append-version="true" defer></script>
    </div>